@import 'vars.scss';

.player-overlay,
.main-preloader,
.player-container,
.preloader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.player-overlay {
  transition: all .3s;

  &.darken {
    background: rgba(0,0,0,.4);
    z-index: 1;
  }
}

.main-preloader {
  top: 50%;
  left: 50%;
  z-index: 181;
}

.md-button.md-icon-button.sidenav-toggler {
  position: fixed;
  margin: 16px;
  stroke: #fff;
  color: #000;
  opacity: .6;

  &:hover {
    opacity: 1;
  }
}

ng-md-icon {
  fill: currentColor;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

.preloader-wrapper {
  background: #eee;
}