@import 'vars.scss';

.user-card {
  height: 175px;
  background-position: center center;
  position: relative;
  margin-bottom: 32px;
  box-shadow: 0px -40px 40px -5px rgba(0, 0, 0, 0.5) inset;

  img {
    position: absolute;
    left: 16px;
    bottom: -16px;
    width: 64px;
  }

  h4 {
    position: absolute;
    color: #fff;
    left: 96px;
    bottom: -16px;
  }
}

md-sidenav {
  md-list md-list-item {
    ng-md-icon {
      margin-right: 8px;
    }

    .item-inner p {
      margin: 0 16px;
    }
  }
}

.logout-button {
  ng-md-icon {
    transform: scale(-1);
  }
}

.settings-content {
  padding: 0 16px;
  height: 0;
  overflow: hidden;
  transition: all .3s $cb-anim;

  &.open {
    overflow: visible;

    // remeber to change this line after adding more items to settings
    height: 155px;
  }
}
