$primary:  #2196f3;
$dark-grey: #bbb;
$accent: #b71c1c;

$cb-anim: cubic-bezier(0,0,.12,1);

$th-size: 250px;

@mixin animation-mixin($animation-name, $delay, $duration) {
  animation: {
    name: $animation-name;
    duration: $duration;
    direction: alternate;
    delay: $delay;
    // iteration-count: 1;
    fill-mode: forwards;
    timing-function: $cb-anim;
    play-state: paused;
  }
}