<md-dialog aria-label="About">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>About</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()" aria-label="Close dialog">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div>
      <h3>YouTube Playlist Manager</h3>
      <p>v0.0.1</p>
      <p>Author: Patryk Gurgul</p>
      <a href="https://github.com/patryk-g/yt-manager">Github</a>
      <p>*****TODO*****</p>
      <p>Type something in here</p>
    </div>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="hide()" aria-label="Close About">Close</md-button>
  </div>
</md-dialog>