<div>
  <div class="playlist md-whiteframe-z2">
    <div class="top-section">
      <div class="playlist-thumbnail" ng-style="{'background-image': 'url({{playlist.snippet.thumbnails.high.url}})'}" ng-click="togglePlaylist($event, $index)">
        <p ng-bind="playlist.snippet.title"></p>
      </div>
      <div class="playlist-info">
        <div class="input-wrapper">
          <input type="text" lock ng-model="playlist.snippet.title" class="playlist-title" />
          <ng-md-icon icon="edit" size="16"></ng-md-icon>
        </div>
        <div class="input-wrapper">
          <textarea class="playlist-description" lock placeholder="No description provided..." ng-model='playlist.snippet.description'></textarea>
          <ng-md-icon icon="edit" size="16"></ng-md-icon>
        </div>
        <div class="meta">
          <p>{{playlist.itemCount}} videos</p>
        </div>
        <div class="buttons">
          <md-button class="md-icon-button" aria-label="Delete playlist">
            <md-tooltip md-direction="top" md-autohide="true">Delete</md-tooltip>
            <ng-md-icon icon="delete" options='{"duration": 350, "rotation": "none"}'></ng-md-icon>
          </md-button>
        </div>
      </div>
      <span class="close" ng-click="closePlaylist($event)">
        <ng-md-icon icon="close" size="32"></ng-md-icon>
      </span>
    </div>
    <md-list class="playlist-videos">
      <md-progress-circular ng-if="!playlist.videos" md-mode="indeterminate" class="videos-preloader"></md-progress-circular>
      <md-list-item ng-repeat="video in playlist.videos track by video.id">
        <span class="counter" ng-bind="$index + 1"></span>
        <img ng-src="{{video.snippet.thumbnails.default.url}}" alt="video thumbnail" class="thumb">
        <p class="title" ng-bind="video.snippet.title"></p>
      </md-list-item>
    </md-list>
  </div>
</div>
